.dates, .numbers {
    display: flex;
    flex-direction: row;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #21EB00;
    --secundary-color: #191A18;
}

/* 


a {
    text-decoration: none;
}
h1, h4 {
    font-size: 2.9em;
    color: var(--primary-color);
}

h4 {
    font-size: 40px;
    font-weight: 400;
    margin-left: 50px;

}

p {
    color: #ffffffee;
    font-size: 4em;
    margin-left: 100px;


}

body {
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
}
section.flex-container {
    display: flex;
    flex-direction: column;
    
    max-width: 1100px;

    margin: 40px auto;

    padding: 5px;

}
section.flex-container header {
    display: flex;
    justify-content: space-between;
    
    text-align: center;
    line-height: 3.2em;
}
.container {
    text-align: center;
    margin: 170px auto 0 auto;

}



button {
    background-color: var(--primary-color);
    color: #000000ee;

    outline: none;
    margin-bottom: 16px;
    padding: 16px;
    
    border-radius: 8px;
    border: none;

    font-size: 1.3em;
    font-weight: 900;
}

 */
