* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #21EB00;
    --secundary-color: #191A18;
}

a {
    text-decoration: none;
}
h1 {
    font-size: 2.9em;
    color: var(--primary-color);
}
h3 {
    font-size: 1.8em;
    font-weight: 300;
    color: #ffffffee;
}

body {
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
}
section.flex-container {
    display: flex;
    flex-direction: column;
    
    max-width: 400px;

    margin: 170px auto 0 auto;

}

section.flex-container .txt {
    text-align: center;
    line-height: 3.2em;
}
form {
    display: flex;
    flex-direction: column;

    width: 80%;

    margin: 5px auto;
}

form input[type=date], button {
    background-color: var(--secundary-color);
    color: #ffffffee;
    
    outline: none;
    margin-bottom: 16px;
    padding: 16px 10px;
    
    border-radius: 8px;
    border: none;
}

form button {
    background-color: var(--primary-color);
    color: #000000ee;

    font-size: 1.3em;
    font-weight: 900;
}


